.ev-absolute{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}
.ev-scroll-transition{
	-webkit-transition: webkit-transform .3s linear;
	transition: transform .3s linear;
}
/*.vm-scroll-start{*/
/*-moz-transform: translateY(0px); !* Firefox *!*/
/*-ms-transform: translateY(0px); !* IE *!*/
/*-webkit-transform: translateY(0px); !* Safari, Chrome, iOS *!*/
/*-o-transform: translateY(0px); !* Opera *!*/
/*transform: translateY(0px);*/
/*}*/

/*.vm-scroll-finish{*/
/*-moz-transform: translateY(100px); !* Firefox *!*/
/*-ms-transform: translateY(100px); !* IE *!*/
/*-webkit-transform: translateY(100px); !* Safari, Chrome, iOS *!*/
/*-o-transform: translateY(100px); !* Opera *!*/
/*transform: translateY(100px);*/
/*}*/